# --- TensorFlow e Supporto GPU (Metodo Ufficiale) ---
tensorflow[and-cuda]

# --- Libreria Probabilistica con dipendenze TF ---
tensorflow-probability[tf]

# --- Elaborazione Dati e Audio ---
scikit-learn
pandas
pysoundfile
librosa

# --- Ambiente Jupyter e Plotting ---
jupyterlab
ipywidgets
matplotlib
seaborn
tqdm
tabulate

# --- API Kaggle ---
kaggle
kagglehub